@use "../../entity/style/variable" as v;
@use "../../entity/style/mixin";
@use "./style/search-result";
@use "./style/search-result-section";

.global-search {
  @include mixin.side-panel-list("global-search");

  .side-panel-drawer {
    grid-template-rows: auto auto minmax(0, 1fr);
  }

  .global-search-empty-state {
    min-height: 280px;
    display: grid;
    place-content: center;
    color: #555550;
    text-align: center;

    p {
      max-width: 220px;
      margin: 0;
      font-family: v.$sans;
      font-size: 16px;
      line-height: 1.5;
    }
  }

}